*{ 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  .brand-logo{
    margin-left:60px;
    font-size: 50px;
  }
  body{
    background-color: #bdbdbd;
  }
  #homecard{
    padding: 3%;
  }
  #container1{
    margin:0;
  }
  h1{
    margin-left:3%;
  }
  .col{
    font: bold;
  }

  #img1{
    margin-left: 35px;
    height: 480px;
    width: 680px;
  }
  
  #img2{
    margin-top:25px;
    height: 200px;
    width: 370px;
  }
  #container2{
    margin-left: 200px;
    margin-top:6%;
  }
  
  .card-content{
    font-size: 30px;   
  }
  #img3{
   display:block;
   margin-left: auto;
   margin-right:auto;
   width: 80%;
   height: 250px;
   margin-top: 10px;
   padding-top: 20px;
  }
  #img4{
  display:block;
   margin-left: auto;
   margin-right:auto;
   width: 80%;
   height: 250px;
   margin-top: 10px;
   padding-top: 20px;
  }
  #img5{
    display:block;
   margin-left: auto;
   margin-right:auto;
   width: 80%;
   height:250px;
   margin-top:10px;
   padding-top: 20px;
  }
  
  #img6{
    display:block;
   margin-left: auto;
   margin-right:auto;
   width: 80%;
   height:250px;
   margin-top:10px;
   padding-top: 20px;
  }
  
  #page3{
    margin-top: 10%;
  }
  .header{
    margin-left: 30px;
    font: bold;
    font-size: 70px;
  }
  .switch{
    float: right;
  }
  #map{
    margin-top: 50px;
    margin-right:40px;
    color: black;
    font-size: 35px;
  }
  
  
  /* Below is Nolans edits */

  .card_size {
      height: 600px;
  }

  .center {
      text-align: center;
  }

  .button {
      width: 50%;
      height: 60px;;
      font-size: 30px;
      background-color: #004d40;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      font-style: italic;
      border-style: solid;
      border-width: medium;
      border-color: black;
      border-radius: 6%;
  }
  .button:hover {
      background-color: cornflowerblue;
  }
  .button:focus {
    background-color: #004d40;
  }
  
  a {
    color:white;
  }

  .entertainment p, .dining p, .shopping p, .wellness p {
      font-size: x-large;
      margin-left: 10%;
      margin-right: 10%;
  } 

  .flex-container{
      display: flex;
      justify-content: center;
  }

