*{ 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.brand-logo{
  margin-left:60px;
  font-size: 50px;
}
body{
  background-color: #bdbdbd;
}
#homecard{
  padding: 3%;
}
#container1{
  margin:0;
}
h1{
  margin-left:3%;
}
.col{
  font: bold;
}
.waves-effect{
  margin-left: 215px;
}
#img1{
  margin-left: 35px;
  height: 480px;
  width: 680px;
}

#img2{
  margin-top:25px;
  height: 200px;
  width: 370px;
}
#container2{
  margin-left: 200px;
  margin-top:6%;
}
/* .deal-color{
  color: #26a69a;
} */

#next, #back{
  font-size: 40px;    /*font size media query*/
  color: #26a69a;
}
.card-content{
  font-size: 30px;    /*font size media query*/
}
#img3{
 display:block;
 margin-left: auto;
 margin-right:auto;
 width: 80%;
 height: 250px;
 margin-top: 10px;
 padding-top: 20px;
}
#img4{
display:block;
 margin-left: auto;
 margin-right:auto;
 width: 80%;
 height: 250px;
 margin-top: 10px;
 padding-top: 20px;
}
#img5{
  display:block;
 margin-left: auto;
 margin-right:auto;
 width: 80%;
 height:250px;
 margin-top:10px;
 padding-top: 20px;
}

#img6{
  display:block;
 margin-left: auto;
 margin-right:auto;
 width: 80%;
 height:250px;
 margin-top:10px;
 padding-top: 20px;
}

#page3{
  margin-top: 10%;
}
.header{
  margin-left: 30px;
  font: bold;
  font-size: 70px;
}
.switch{
  float: right;
}
#map{
  margin-top: 50px;
  margin-right:40px;
  color: black;
  font-size: 35px;
}
